/ {
    zephyr,user {
        N_STEP_ENABLE-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
        STEP_GENERATE-gpios = <&gpio0 1 0>;
        MUX_A0-gpios = <&gpio0 2 0>;
        MUX_A1-gpios = <&gpio0 3 0>;

        TDC_ENABLE-gpios = <&gpio0 12 0>;
        TDC_INT-gpios    = <&gpio0 11 0>;
    };
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spi";

    /* CS line (example: P0.28 active low) */
    cs-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;

    /* pinctrl-0 / pinctrl-1 if your board needs it (same as lesson) */

    : mcp4922@0 {
        compatible = "vnd,spi-device";   /* generic SPI device binding */
        reg = <0>;                       /* slave select index */
        spi-max-frequency = <10000000>;  /* MCP4922 supports up to 20 MHz */
        label = "MCP4922";
    };
};

